html {
	background: #000000;
}

/*
 th {border: 1px solid #EAECEE; text-align: left;}
*/

table.BlTabelle{
	color: #FFF900;
	font:bold 28px Verdana;
	text-align:left;
	table-layout:fixed;
	width:100%;
	border-collapse: collapse;
}

table.BlTabelle th {
	overflow:hidden;
	white-space:nowrap;

}

/*overflow:hidden;white-space:nowrap; */
table.tabelle td {border: 2px solid #EAECEE; text-align: left; padding-left:3px; padding-right:3px; min-width:1em; overflow:hidden;white-space:nowrap;}

table.tabelle {  font-family: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif; color:#ffffff;
  background: #000000; text-align: left; border-collapse: collapse; font-weight:bold; table-layout:fixed; width:100%;}  /*table-layout:fixed; */

table.tabelle thead { text-align: left;}

table.tabelle tbody { text-align: left;}

table.tabelle thead th {color: #c0f1fa; text-align: left; }

table.tabelle caption {text-align: left; text-transform: uppercase;  padding-bottom: 10px; font: 200% "Lucida Grande",
						"Lucida Sans Unicode", "Trebuchet MS", sans-serif;}

table.tabelle.th
{
        letter-spacing: 2px;
        text-align: left;
        padding: 6px 6px 6px 12px;
}



table.tabelle tfoot {

padding: 0;
margin: 0;
border-collapse: collapse;
color: #333;
background: #B3B2D1;

}

#e-col {
	border: none;
	max-width: 3px;
	min-width: 3px;

	}


.showTimeBox {
	width:90%;
    background-color: black;
    display:block;
    overflow:hidden;
    white-space:nowrap;
    border: 2px solid #ffffc4;

        font: bold 50px Verdana;
        color: #ffffc4;
        text-align: center;
        text-decoration:none;

}


#center {text-align: center;}

#Erg {
	color: #ffffff;
	background-color: #484800;
	}

#Next {
	color: #ffffff;
	background-color: #ff8000;
}
#Now {
	color: #ffffff;
	background-color: #12F70A;
	border: 3px solid red !important;
}


.durchstrich {text-decoration: line-through;}

a:link {
    text-decoration: none;
}

.kopf
{
        font: bold 30px Verdana;
        color: #444444;
        text-transform: uppercase;
        padding: 6px 4px 6px 12px;
}

.unter {

         font: bold 20px Verdana;
         color: #444444;

         }
#RS1J{
	color: #FFFFFF;
	background-color: #1C20AE;
}
#RS1N{
	color: #FFFFFF;
	background-color: #EC0E12;
}
#result{
	color: #000000;
	background-color: #EFFE03;
}

#Verein{

	color: #FFF900;

}

#range-logo {
    background-color: #f8f8ff;
    display:block;
    overflow:hidden;
    white-space:nowrap;
    position:fixed;
    top:10px;
    right:60px;
    box-shadow: 8px 8px 8px #666;
    border-radius: 12px;
    border: 2px solid #ACBFFF;

        font: bold 30px Verdana;
        color: #444444;
        text-transform: uppercase;
        text-align: center;
        text-decoration:none;
        padding: 12px 25px 12px 25px;

}

#always-safe {
    background-color: #f8f8ff;
    display:block;
    overflow:hidden;
    white-space:nowrap;
    position:fixed;
    top:200px;
    right:60px;
    box-shadow: 8px 8px 8px #666;
    border-radius: 12px;
    border: 2px solid #ACBFFF;

        font: bold 30px Verdana;
        color: #444444;
        text-transform: uppercase;
        text-align: center;
        text-decoration:none;
        padding: 12px 25px 12px 25px;

}

#noBorder{
	border: 0;
}

#tdZwischenraum{
	border: 0;
}

#zwischenraum {
height: 8px;
border-top: 1px solid #00000;
border-bottom: 1px solid #000000;
}

#zwischenraum td{
padding: 0px 0px 0px 0px;
}

#bild{
	height:  27px;
	width: 46px;
}
#rahmen{
    display:block;
    overflow:hidden;
    white-space:nowrap;
	height:  27px;
    width: 46px;
}

#trNow{
	color: #ffffff;
	background-color: #005100;
	border: 3px solid red !important;
}

#trNext {
	color: #ffffff;
	background-color: #512800;
	border: 1px solid white !important;
}

#tr_norm {
	color: #ffffff;
	background-color: #2D2D00;
	border: 1px solid white !important;
}

#naechstesHeberGewichtSpalte{
	color: #ffffff;
	background-color: #483d06;	//#5e4600
}
