
table.tabelle {font: 85% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;
               padding: 0; margin: 0; border-collapse: collapse; background: #F8F8FF;}

table.tabelle tbody, table.tabelle thead {}


table.tabelle thead {border-bottom: 1px solid #000000;}

table.tabelle tbody {border-bottom: 1px solid #000000;}


table.tabelle tbody td, table.tabelle tbody th {}

table.tabelle tr{background: #F8F8FF;}


table.tabelle td, table.tabelle th {
   border-left: 1px solid #000000; }

table.tabelle td:first-child, table.tabelle th:first-child {
   border: none; }



table.tabelle th
{
        font: bold 16px Verdana;
        color: #000000;
        padding: 12px 4px 12px 3px;
        text-align: left;
        font-weight: normal;


}

table.tabelle td
{
        font: 13px Verdana;
        color: #444444;
        padding: 9px 4px 8px 3px;
        text-align: left;
        font-weight: normal;

}

#BlHeadTabelle tbody {
	border-top: 1px solid #000000;
}

/*
#BlHeadTabelle td {
	 border-left: none;
}
*/

#tdleft   { text-align: left;}
#tdcenter { text-align: center;}
#tdright  { text-align: right;}

#smallTable{border: 1px solid; }


html {
  background: #F8F8FF;
}



.kopf
{
        font: bold 23px Verdana;
        color: #444444;
        padding: 3px 2px 3px 6px;
}

.unter {

         font: bold 20px Verdana;
         color: #444444;

         }


#Klasse {


border-bottom: 1px solid #000000;
border-top: 1px solid #000000;

}

#Klasse td{

font: 14px Verdana;
color: #000000;
background-color: #E4E4E4;
padding: 5px 4px 5px 6px;

}



#zwischenraum {
height: 8px;
border-top: 1px solid #000000;
border-bottom: 1px solid #000000;
}


#zwischenraum td{
padding: 0px 0px 0px 0px;

}

#range-logo {
    background-color: #f8f8ff;
    display:block;
    overflow:hidden;
    white-space:nowrap;
    position:fixed;
    top:10px;
    right:60px;
    box-shadow: 8px 8px 8px #666;
    border-radius: 12px;
    border: 2px solid #ACBFFF;

        font: bold 30px Verdana;
        color: #444444;
        text-transform: uppercase;
        text-align: center;
        text-decoration:none;
        padding: 12px 25px 12px 25px;

}

.durchstrich {text-decoration: line-through;}

#unsichtbar {

display:none;

}

#un {

display:none;

}

#noBorder{
	
	border:none;
	
}


@media screen
{
    .noPrint{}
    .noScreen{display:none;}
}

@media print
{
    .noPrint{display:none;}
    .noScreen{}
}

#page-break	{ display: none; }

#always-safe {
    background-color: #f8f8ff;
    display:block;
    overflow:hidden;
    white-space:nowrap;
    position:fixed;
    bottom: 1cm;
    right:1cm;
    box-shadow: 8px 8px 8px #666;
    border-radius: 12px;
    border: 2px solid #ACBFFF;

        font: bold 20px Verdana;
        color: #444444;
        text-transform: uppercase;
        text-align: center;
        text-decoration:none;
        padding: 3mm 4mm;
}

textarea {
    display: block;
    margin-left: 10%;
    margin-right: auto;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font: 14px Verdana;
    resize: none;
}

